* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto',sans-serif
}

h1, h2, h3 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

img {
    width: 100%;
}

#title {
    margin: 3vh 0;
}
#selection-container {
    width: 95%;
    margin-left: 2.5%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.selection:hover {
    cursor: pointer;
}